@charset "UTF-8";
/*
Merci à KNACSS.com V1.2 @author : Raphael Goetter, Alsacreations
Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
*/

/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- colors
2- reset
3- layout and modules
4- header
5- sidebar
6- footer
7- forms
8- main
9- iefix
10- print
11- mobile
12- fin du knacss
*/

/* ----------------------------- */
/* 1==colors */
/* ----------------------------- */


/* ----------------------------- */
/* 2==reset */
/* ----------------------------- */

/* base font-size corresponds to 10px */
html {font-size: 62.5%;}
body {
	background-color: #2d322d;
	color: #000;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5; /* adapt to your design */
}

a.accueil {
	width:180px;
	height:90px;
	position:absolute;
	margin:-190px 0px 0px -956px;
	cursor:pointer;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}

/* soft reset */
html, body, blockquote, ul, ol, form {margin: 0; padding: 0;}
ul, ol {padding-left: 2em}
.mreset {margin: 0;}
.preset {padding: 0;}

/* font-sizing for content */
p, li, td, th, textarea, caption, pre {font-size: 1.4em;}
li li, li p, td p, th p, li h1, li h2, li h3, li h4, li h5, li h6, button, input, select {font-size: 100%;}
h1, .h1-like {font-size: 2.4em; } /* 24 pixels */
h2, .h2-like {font-size: 2.0em; } /* 20 pixels */
h3, .h3-like {font-size: 1.8em; } /* 18 pixels */
h4, .h4-like {font-size: 1.6em; } /* 16 pixels */
h5, .h5-like {font-size: 1.4em; } /* 14 pixels */

/* alternate font-sizing */
.smallest {font-size: .7em;}
.smaller {font-size: .8em;}
.small {font-size: .9em;}
.big {font-size: 1.07em;} /* 15 pixels */
.bigger {font-size: 1.14em;} /* 16 pixels */
.biggest {font-size: 1.28em;} /* 18 pixels */

/* avoid collapsing margins */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, p:first-child {margin-top: 0;}

/* avoid last paragraph bottom margin */
p:last-child {margin-bottom: 0;}

/* styling headings */
h1, .h1-like {}
h2, .h2-like {}
h3, .h3-like {}
h4, .h4-like {}
h5, .h5-like {}
h6, .h6-like {}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
    max-width: 100%; height: auto;
}

/* you shall not pass */
textarea, table, td, th, code, pre, samp, div, p {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}
code, pre, samp {
    white-space: pre-wrap;
}
/* links */
a img { /* ce sélecteur élimine la bordure bleue par défaut affichée dans certains navigateurs autour d'une image lorsque celle-ci est entourée d'un lien. */
	border: 0;
}
a:link {color: black;}

/* ----------------------------- */
/* 3==layout and modules */
/* ----------------------------- */
body {
	background-image: url(../images/fond_base_form.jpg);
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-position:top;
}

/* ----------------------------- */
/* 4==header */
/* ----------------------------- */

#plafond li{display:table-cell;}
#plafond {
	display:table;width:974px;margin:152px auto 20px auto;padding:0;
	background: -webkit-linear-gradient(#ff7418,#ff4805,#992b00);
	background: -moz-linear-gradient(#ff7418,#ff4805,#992b00);
	background: -ms-linear-gradient(#ff7418,#ff4805,#992b00);
	background: -o-linear-gradient(#ff7418,#ff4805,#992b00);
	background: linear-gradient(#ff7418,#ff4805,#992b00);
	color: #054F8C;
	border-radius:3px;
	box-shadow:0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}

#plafond li a{
	position: relative;
	display:block;
	text-align:center;
	font-size:1.6em;
	color:rgba(255,255,255,.8);
	text-decoration:none;
	padding:8px 8px 17px 8px;
	text-shadow:0 1px 0 rgba(0,0,0,.4);
	box-shadow:0 1px 0 rgba(255,255,255,.7) inset,
	0 -1px 0 hsl(20,95%,19%) inset,
	0 -2px 0 hsl(20,95%,20%) inset,
	0 -3px 0 hsl(20,95%,21%) inset,
	0 -4px 0 hsl(20,95%,25%) inset,
	0 -5px 0 hsl(20,95%,28%) inset,
	0 -6px 0 hsl(20,95%,32%) inset,
	0 -7px 0 hsl(20,95%,36%) inset;
	 -webkit-transition: all .3s .1s;
       -moz-transition: all .3s .1s;
        -ms-transition: all .3s .1s;
         -o-transition: all .3s .1s;
            transition: all .3s .1s;
}

#plafond li:first-child a{border-radius: 3px 0 0 3px;}

#plafond li:last-child a{border-radius: 0 3px 3px 0;}

#plafond li a:hover, 
#plafond li a:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255,255,255,.7) inset, 
                0 -1px 0 hsl(27,100%,20%) inset, 
                0 -2px 0 hsl(27,100%,22%) inset, 
                0 -3px 0 hsl(27,100%,24%) inset, 
                0 -4px 0 hsl(27,100%,30%) inset, 
                0 -5px 0 hsl(27,100%,31%) inset, 
                0 -6px 0 hsl(27,100%,32%) inset, 
                0 -7px 0 hsl(27,100%,40%) inset;
    padding: 8px 25px 17px 25px;
    -webkit-transition: all .3s 0s;
       -moz-transition: all .3s 0s;
        -ms-transition: all .3s 0s;
         -o-transition: all .3s 0s;
            transition: all .3s 0s;
}

#plafond li a:active{
    background: rgba(0,0,0,.15);
    background: -webkit-linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    background:    -moz-linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    background:     -ms-linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    background:      -o-linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    background:         linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

#plafond li a::before{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 8px;
	margin-left: -2px;
	width: 2px;
	height: 8px;
	border-radius: 50%;
	background: rgba(0,0,0,.5);
}

#plafond li a:hover::before,
#plafond li a:focus::before{
background: white;
box-shadow: 0 0 2px white, 0 -1px 0 rgba(0,0,0,.4);
}

/* ----------------------------- */
/* 5==sidebar */
/* ----------------------------- */

section {width:960px;
	margin:auto;
	position:relative;}

aside {
	position: absolute;
	width: 240px;
	height: 640px;
	color:rgb(255,235,225);
	background-color: #2d322d;
	margin: -20px 0px 0px 712px;
	text-align: right;
	border-radius: 0px 0px 0px 3px;
	left: 3px;
}

@font-face {
    font-family: 'triplexserifboldregular';
    src: url('/polices/triplexserifbold.eot');
    src: url('/polices/triplexserifbold.eot?#iefix') format('embedded-opentype'),
         url('/polices/triplexserifbold.woff') format('woff'),
         url('/polices/triplexserifbold.ttf') format('truetype'),
         url('/polices/triplexserifbold.svg#triplexserifboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

hgroup {font-family: 'triplexserifboldregular';
	padding:30px 15px 0px 10px;
	font-size:3.4em;
	line-height:1em;
	font-style:normal;
}

p {
	padding:0px 15px 0px 10px;
	font-size:1.5em;
	line-height:1.4em;
}


/* ----------------------------- */
/* 6==footer */
/* ----------------------------- */

@font-face {
    font-family: 'triplexlight';
    src: url('/polices/triplexlight.eot');
    src: url('/polices/triplexlight.eot?#iefix') format('embedded-opentype'),
         url('/polices/triplexlight.woff') format('woff'),
         url('/polices/triplexlight.ttf') format('truetype'),
         url('/polices/triplexlight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------- */
/* 7==forms */
/* ----------------------------- */

form, fieldset {border: none}
input, button, select {
  vertical-align: middle; /* @bugfix alignment */
}

/* ----------------------------- */
/* 8==main */
/* ----------------------------- */

#nav {
	display:table;
	width:960px;
	margin:35px auto 20px auto;
	padding:0;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color:rgb(255,81,0);
}

/*colonne.vertical*/
ul.colonne {
	list-style: none;
	margin: 0;
	padding: 0;}
ul.colonne li {
	list-style: none;
	margin: 0;
	padding: 0;}
ul.colonne ul {
	list-style: none;
	margin: 0;
	padding: 0;}
/*ul.colonne { position: relative; margin:40px auto 20px auto;}*/
ul.colonne li {
	line-height: 1.5em;
	vertical-align: middle;
	zoom: 1;}
ul.colonne li.hover {
	position: relative;
	z-index: 599;
	cursor: default;}
ul.colonne li:hover {
	position: relative;
	z-index: 599;
	cursor: default;}
ul.colonne ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 100%;}
ul.colonne ul li { float: none;}
ul.colonne ul ul {
	top: 1px;
	left: 99%;}
ul.colonne li:hover > ul { visibility: visible;}
ul.colonne-vertical {width: 250px;}
ul.colonne-vertical ul {
	top: 0px;
	left: 19%;}
ul.colonne-vertical li { float: none;}

.download {	
	width: 90px;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: rgb(251,81,0);
}

.special {
	width: 340px;
}

/*défault*/
/*ul.colonne {font-weight: bold;}*/
ul.colonne li { padding: 7px 20px;}
ul.colonne li.hover { color:rgb(255,81,0);}
ul.colonne li:hover { color:rgb(255,81,0);}
ul.colonne a:link {
	text-decoration: none;}
ul.colonne a:visited {
	color:rgb(0,0,0);
	text-decoration: none;}
ul.colonne a:hover	{
	font-size: 15px;
	color:rgb(255,81,0);}
ul.colonne a:active	{color:rgb(255,255,255);}
ul.colonne ul {
	width: 365px;
	margin-top: 1px;}
ul.colonne ul li { font-weight:normal;}

/* ----------------------------- */
/* 9==iefix */
/* ----------------------------- */
.ie8 img {width: auto;} /* @bugfix for IE8 */ 
/* box-sizing for IE6/IE7 */
/* https://github.com/Schepp/box-sizing-polyfill
.ie7 * {
behavior: url(js/boxsizing.htc);
}
*/

/* ----------------------------- */
/* 10==print */
/* ----------------------------- */

/* quick print reset */
@media print {
    p, blockquote {orphans: 2; widows: 2;}
    blockquote, ul, ol {page-break-inside: avoid;}
    h1, h2, h3, caption { page-break-after: avoid;}
}

/* ----------------------------- */
/* 11==mobile */
/* ----------------------------- */

/* quick tablet reset */
@media (max-width: 768px) {
    .tablet-hidden {display: none}
    [class*="mw"], [class*="w9"], [class*="w8"],
    [class*="w7"], [class*="w6"] {width: auto;}
}

/* quick smartphone reset */
@media (max-width: 640px) {
    .phone-hidden {display: none}
    .mod, .col, label, fieldset {
     display: block !important;
     margin: 0 !important;
     border: 0 !important;
     float: none !important;
     width: auto !important;
    }
    [class*="w5"], [class*="w4"], [class*="w3"] {
        width: auto;
    }
    .row {width: 100% !important}
}

/* corrects retina iOS orientation zoom */
@media (max-device-width:768px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2) {
    html {-webkit-text-size-adjust:66%}
}

/* ----------------------------- */
/* 12==Fin du KNACSS */
/* ----------------------------- */
